@import url('https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro');

$primary-font: 'Bitter', serif ;
$secondary-font: 'Source Sans Pro', sans-serif;

body {
  margin: auto;
  max-width: 1024px;
  background-color: #F1F1F1;
  font-family: $secondary-font;
  padding: 0 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: $primary-font;
  font-size: 1em;
  margin:0;
  padding: 8px 0 16px 0;
}

.header {

  p {
    text-align: center;
    padding: 32px 0 8px 0;
    margin: 0;
  }

  &__navigation {
    margin-top: 16px;
    height: 40px;

    img {
      float: left;
      width: 40px;
    }

    h1 {
      float: left;
      padding: 10px 0 0 8px;
    }
  }

  &__headline {
    text-align: center;
    font-family: $primary-font;
    font-size: 1.3em;

    h2 {
      margin: 32px 0 16px;
      line-height: 1.4em;
    }

    @media (max-width: 600px) {
      font-size: .9em;

      h2 {
        margin: 32px 0 8px;
      }
    }
  }

}

.button {
  font-size: 13px;
  font-family: $secondary-font;
  float: right;
  border-radius: 3px;
  background-image: linear-gradient(to right, #4facfe 0%, #00e3fa 100%);
  padding: 11px 18px;
  letter-spacing: .03em;
  transition: all 0.23s ease-in-out 0s;

  a {
    color: white;
  }

  &:hover {
    opacity: .7;
  }
}

#mc_embed_signup {
  clear:left;
  font-family: $secondary-font;
  width:100%;
}

.twitter-follow-button {
  position: fixed!important;
  top: 0;
  right: 0;
  margin: 16px;
  z-index: 100;
}
