@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Source+Sans+Pro:400,700,900");
body {
  margin: auto;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  color: #00042d; }

a {
  text-decoration: none;
  cursor: pointer; }

h1 {
  font-family: "Bitter", serif;
  font-size: 1em;
  margin: 0;
  padding: 8px 0 16px 0; }

.header-container {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: relative; }

.header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px; }
  .header p {
    text-align: center;
    padding: 32px 0 8px 0;
    margin: 0; }
  .header__navigation {
    padding-top: 16px;
    height: 40px; }
    .header__navigation img {
      float: left;
      width: 40px; }
    .header__navigation h1 {
      float: left;
      padding: 10px 0 0 8px;
      font-weight: 400; }
    .header__navigation a {
      color: #00042d; }
  .header__headline {
    text-align: center;
    font-family: "Bitter", serif;
    font-size: 1.3em; }
    .header__headline h2 {
      margin: 32px 0 16px;
      line-height: 1.4em; }
    @media (max-width: 600px) {
      .header__headline {
        font-size: .9em; }
        .header__headline h2 {
          margin: 32px 0 8px; } }

.button {
  color: white !important;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  float: right;
  border-radius: 3px;
  background-color: #11CD86;
  padding: 11px 18px;
  letter-spacing: .03em;
  transition: all 0.23s ease-in-out 0s; }
  .button:hover {
    opacity: .7; }

#mc_embed_signup {
  clear: left;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%; }

.twitter-follow-button {
  display: block;
  margin: 32px auto 0; }

.bg-color {
  background-color: #F1F1F1;
  padding: 32px 0 64px;
  z-index: 50;
  position: relative; }

.job-container {
  max-width: 700px;
  padding: 0 16px;
  margin: auto; }

.job {
  height: 45px;
  margin: 16px 0;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: block;
  color: #00042d; }
  @media (max-width: 600px) {
    .job {
      height: 70px; } }
  .job__title {
    float: left;
    width: 60%; }
    .job__title h3 {
      font-family: "Bitter", serif;
      margin: 0 0 4px;
      font-weight: 400; }
    .job__title p {
      margin: 0;
      color: #A2A2A2; }
    @media (max-width: 600px) {
      .job__title {
        width: 100%; } }
  .job__timestamp {
    float: left;
    width: 40%; }
    .job__timestamp p {
      text-align: right; }
    @media (max-width: 600px) {
      .job__timestamp {
        width: 100%; }
        .job__timestamp p {
          text-align: left;
          margin: 4px 0 0; } }

@media (min-width: 600px) {
  .hide-for-large {
    display: none; } }

@media (max-width: 600px) {
  .hide-for-small {
    display: none; } }

.footer {
  text-align: center;
  font-size: 14px;
  padding: 32px 0; }
  .footer a {
    background: -webkit-linear-gradient(0deg, #3a7bd5, #00d2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .footer__signoff p {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
