@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Source+Sans+Pro:400,700,900');

$primary-font: 'Bitter', serif ;
$secondary-font: 'Source Sans Pro', sans-serif;

body {
  margin: auto;
  max-width: 1024px;
  background-color: #F1F1F1;
  font-family: $secondary-font;
  padding: 0 16px;
  color: #00042d;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: $primary-font;
  font-size: 1em;
  margin:0;
  padding: 8px 0 16px 0;
}

.header {

  margin: 0 0 64px;

  p {
    text-align: center;
    padding: 32px 0 8px 0;
    margin: 0;
  }

  &__navigation {
    margin-top: 16px;
    height: 40px;

    img {
      float: left;
      width: 40px;
    }

    h1 {
      float: left;
      padding: 10px 0 0 8px;
      font-weight: 400;
    }
  }

  &__headline {
    text-align: center;
    font-family: $primary-font;
    font-size: 1.3em;

    h2 {
      margin: 32px 0 16px;
      line-height: 1.4em;
    }

    @media (max-width: 600px) {
      font-size: .9em;

      h2 {
        margin: 32px 0 8px;
      }
    }
  }

}

.button {
  color: white;
  font-size: 13px;
  font-family: $secondary-font;
  float: right;
  border-radius: 3px;
  background-color: #11CD86;
  padding: 11px 18px;
  letter-spacing: .03em;
  transition: all 0.23s ease-in-out 0s;

  &:hover {
    opacity: .7;
  }
}

#mc_embed_signup {
  clear:left;
  font-family: $secondary-font;
  width:100%;
}

.twitter-follow-button {
  position: fixed!important;
  top: 0;
  right: 0;
  margin: 16px;
  z-index: 100;
}

.job {
  height: 55px;
  margin: 16px 0;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 16px;

  @media (max-width: 600px) {
    height: 80px;
  }

  &__title {
    float: left;
    width: 60%;

    h2 {
      margin: 0 0 4px;
      font-weight: 400;
    }

    p {
      margin: 0;
      color: #A2A2A2;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__timestamp {
    float: left;
    width: 40%;

    p {
      text-align: right;
    }

    @media (max-width: 600px) {
      width: 100%;

      p {
        text-align: left;
        margin: 4px 0 0;
      }
    }
  }

}
